@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Serif", serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  list-style: none;
}

form {
  display: flex;
  min-width: 200px;
}

.task-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.delete {
  cursor: pointer;
}

.tasks li {
  background-color: rgb(215, 222, 222);
  min-width: 200px;
}
